exe/
conan/
temp.txt

# cmake
CMakeUserPresets.json

# Common build directories
/build*/

# CI jobs that run in symlinked trees produce these artifacts.
/real_work/
/work

# MacOS Finder files.
.DS_Store

# Python compile output.
*.pyc

# See Utilities/Sphinx/tutorial_archive.cmake
/Help/_generated

# CLion work directory
/.idea/
# CLion build directories
/cmake-build-*/

# QtCreator files.
/CMakeLists.txt.user*

# Visual Studio Code
/.cache/

# Visual Studio
/out/
launchSettings.json

# clang-tidy output
/clang-tidy-fixes.patch

# Windows
.vs/
Build/
Target/
Targets/
Debug/
Release/
bin/
publish/
obj/

# Files
dna.txt
/*.sql
*.doc
.gittoken
*.log
*.tex
*.user
**.sln
**.vcxproj
**.vcxproj.user
**.vcxproj.filters